<div class="upload-container">
  <div id="dropzone" class="dropzone">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
      <path d="M8 16a1 1 0 001 1h2a1 1 0 001-1V9h3l-4-4-4 4h3v7z" />
      <path d="M3 18a2 2 0 002 2h10a2 2 0 002-2v-5h-2v5H5v-5H3v5z" />
    </svg>
    <p class="dropzone-text">
      <strong>Drag and drop a file or click to browse</strong><br>
      PDF, image, video, or audio
    </p>
    <input id="fileInput" type="file" class="hidden-input" />
  </div>

  <div class="file-input-group">
    <label for="file" class="file-label">File</label>
    <input id="fileSelect" type="file" class="file-select" />
  </div>

  <button id="uploadBtn" class="upload-btn">Upload</button>

  <button id="scanBtn" class="scan-btn" style="display: none;">🔍 Scan for Similar Documents</button>
</div>
